@model TargetShooting.Models.Winner

<div id="page">
    <img id="imgBackground" src='@Url.Content("~/img/p4.jpg")' usemap="#map"/>
    <map name="map">
        <area id="areaSubmit" alt="提交资料" shape="rect" coords="85,720,302,778" href="javascript:submit()"/>
        <area id="areaReturn" alt="返回游戏" shape="rect" coords="335,720,552,778" href='@Url.Action("Index", "Home")'/>
    </map>

    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
    
        <div class="form-horizontal" style="position: absolute">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-xs-2" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Tel, new { @class = "control-label col-xs-2" })
                <div class="col-xs-6">
                    @Html.TextBoxFor(model => model.Tel, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Address, new { @class = "control-label col-xs-2" })
                <div class="col-xs-6">
                    @Html.TextAreaFor(model => model.Address, new { @class = "form-control", rows = 3 })
                    @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        var _ratio = 1.0;

        $(function() {
            var width = $(document.body).width();
            _ratio = parseFloat(width / 640);

            scalingByRatio();
        });

        function scalingByRatio() {
            $("#imgBackground").css({
                "width": 640 * _ratio,
                "height": 830 * _ratio
            });

            var x1 = 85 * _ratio;
            var y1 = 720 * _ratio;
            var x2 = 302 * _ratio;
            var y2 = 778 * _ratio;
            $("#areaSubmit").attr("coords", x1 + "," + y1 + "," + x2 + "," + y2);

            x1 = 335 * _ratio;
            x2 = 552 * _ratio;
            $("#areaReturn").attr("coords", x1 + "," + y1 + "," + x2 + "," + y2);

            $(".form-horizontal").css({
                "top": 450 * _ratio,
                "left": 60 * _ratio,
                "width": 800 * _ratio,
                "height": 300 * _ratio
            });
        }

        function submit() {
            document.forms[0].submit();
        }
    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
<style>
    .form-control {
        background: #ff4956;
        border: solid 2px #FFFFFF;
    }

    label {
        color: #FFFFFF;
        font-size: 20px;
    }
</style>
